---
line-item:
 - title: Депозит &laquo;Стандарт +&raquo;
   content: Призначений для Вкладників, які хочуть отримати від розміщених коштів високий прибуток після закінчення строку депозиту.

 - title: Family & Friends
   content: Передбачений для клієнтів, що бажають отримувати ще більше доходу разом із своїми близькими та друзями або ж отримувати бонус від розміщення своїх власних додаткових коштів.

 - title: Подарунок на повноліття
   content: Спеціальний вклад для збереження коштів для дітей які може отримати ці кошти в день досягнення 18-ти річного віку, як подарунок від батьків, дідусів, бабусь та інших близьких.
---

{% block content %}
<!-- Add header here -->
{% include "header.html" %}

<!-- BEGIN product-wrapper -->
    <main class="product-wrapper">
    <!-- BEGIN product -->
    <div class="product">
      <section class="info-advantages">
      <div class="info-advantages__content">
        <div class="product-info">
          <p class="product-info__bankname">KredoBank — </p>
          <h1 class="product-info__title">Депозити</h1>
          <p class="product-info__discription">Вклади від Кредобанку це надійні гарантії збереження та примноження заощаджень. Ми впевнені що серед наших пропозицій Ви знайдете саме цей вклад, умови кого задовольнять всі Ваші очікування.</p>
        </div>
        <div class="product-advantages">
          <h3 class="product-advantages__title">Переваги наших депозитiв</h3>
          <ul class="product-advantages__items">
            <li class="product-advantages__item">Вклади у гривнях, доларах США або ЄВРО</li>
            <li class="product-advantages__item">На строк від 1 дня до 20 років</li>
            <li class="product-advantages__item">Отримання коштів у будь-якому банкоматі України - безкоштовно *</li>
          </ul>
        </div>
      </div>
      <div class="product-picture">
        <img class="product-picture__img" src="img/deposits.jpg" width="282" height="282" alt="deposits picture">
      </div>
      </section>




      <section class="product-line">
        {% for item in line-item %}
        <div class="line-item">
          <h3 class="product-line__title"><a class="link_blue" href="#">{{item.title}}</a></h3>
          <p class="product-line__content"><a class="link_black" href="#">{{item.content}}</a></p>
          <a class="btn product-line__btn btn1" href="#">Замовити</a>
        </div>
        {% endfor %}
      </section>
      


      <section class="accordion-srction">
        <div class="accordion-items">
          {% for item in accordion %}
          <div id="accordion-item1" class="accordion">
            <a class="accordion-link link_blue" href="#accordion-item1">
              <h3 class="accordion-content__title">{{item.title}}</h3>
            </a>
            <div class="accordion-content">
              <p class="accordion-content__text">{{item.content}}
                <a class="link_blue" href="#">Дiзнатися бiльше <span class="arrow_orange">→</span></a></p>
              <h4 class="accordion-content__subtitle">{{item.subtitle}}</h4>
              <ul class="accordion-links">
                <li class="accordion-links__item"><a class="link_blue" href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
              </ul>
            </div>
          </div>

          <div id="accordion-item2" class="accordion">
            <a class="accordion-link link_blue" href="#accordion-item2">
              <h3 class="accordion-content__title">З можливістю поповнення</h3>
            </a>
            <div class="accordion-content">
              <p class="accordion-content__text">Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a class="link_blue" href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a class="link_blue" href="#">Дiзнатися бiльше <span class="arrow_orange">→</span></a></p>
              <h4 class="accordion-content__subtitle">Кориснi посилання</h4>
              <ul class="accordion-links">
                <li class="accordion-links__item"><a class="link_blue" href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
              </ul>
            </div>
          </div>

          <div id="accordion-item3" class="accordion">
            <a class="accordion-link link_blue" href="#accordion-item3">
              <h3 class="accordion-content__title">Комфортні</h3>
            </a>
            <div class="accordion-content">
              <p class="accordion-content__text">Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a class="link_blue" href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a class="link_blue" href="#">Дiзнатися бiльше <span class="arrow_orange">→</span></a></p>
              <h4 class="accordion-content__subtitle">Кориснi посилання</h4>
              <ul class="accordion-links">
                <li class="accordion-links__item"><a class="link_blue" href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
              </ul>
            </div>
          </div>

          <div id="accordion-item4" class="accordion">
            <a class="accordion-link link_blue" href="#accordion-item4">
              <h3 class="accordion-content__title">Он-лайн</h3>
            </a>
            <div class="accordion-content">
              <p class="accordion-content__text">Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a class="link_blue" href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a class="link_blue" href="#">Дiзнатися бiльше <span class="arrow_orange">→</span></a></p>
              <h4 class="accordion-content__subtitle">Кориснi посилання</h4>
              <ul class="accordion-links">
                <li class="accordion-links__item"><a class="link_blue" href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
              </ul>
            </div>
          </div>

          <div id="accordion-item5" class="accordion">
            <a class="accordion-link link_blue" href="#accordion-item5">
              <h3 class="accordion-content__title">Фонд гарантування вкладів фізичних осіб</h3>
            </a>
            <div class="accordion-content">
              <p class="accordion-content__text">Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a class="link_blue" href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a class="link_blue" href="#">Дiзнатися бiльше <span class="arrow_orange">→</span></a></p>
              <h4 class="accordion-content__subtitle">Кориснi посилання</h4>
              <ul class="accordion-links">
                <li class="accordion-links__item"><a class="link_blue" href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
              </ul>
            </div>
          </div>

          <div id="accordion-item6" class="accordion">
            <a class="accordion-link link_blue" href="#accordion-item6">
              <h3 class="accordion-content__title">Виплати коштів з Фонду гарантування вкладів</h3>
            </a>
            <div class="accordion-content">
              <p class="accordion-content__text">Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a class="link_blue" href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a class="link_blue" href="#">Дiзнатися бiльше <span class="arrow_orange">→</span></a></p>
              <h4 class="accordion-content__subtitle">Кориснi посилання</h4>
              <ul class="accordion-links">
                <li class="accordion-links__item"><a class="link_blue" href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
                <li class="accordion-links__item"><a class="link_blue" href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
              </ul>
            </div>
          </div>
          <div></div>
          {% endfor %}

        </div>
      </section>
    </div>
    <!-- END product -->
    </main>
<!-- END product-wrapper -->


<!-- Add footer here -->
{% include "footer.html" %}
{% endblock %}