<!-- BEGIN headers -->
    <header class="main-header">

      <div class="header-top">
        <nav class="header-top__nav">
          <ul class="top-nav__items">
            <li class="top-nav__item  top-nav__link1 top-nav_active"><a class="header-top__text link_black" href="#">Приватним клієнтам</a></li>
            <li class="top-nav__item"><a class="header-top__text link_black" href="#">Юрiдичним особам</a></li>
            <li class="top-nav__item"><a class="header-top__text link_black" href="#">Про банк</a></li>
            <li class="top-nav__item"><a class="header-top__text link_black" href="#">Iнтернет-банкiнг</a></li>
          </ul>
        </nav>
        <form class="search-form" action="" method="get">
          <input  class="search-form__input header-top__text" type="search" placeholder="Пошук">
          <button class="search-form__button" type="submit"></button>
        </form>
        <div class="lang header-top__item">
          <ul class="lang-list">
            <li class="lang-list__item"><a class="link_black header-top__text" href="#">pl</a></li>
            <li class="lang-list__item"><a class="link_black header-top__text" href="#">ru</a></li>
            <li class="lang-list__item"><a class="link_black header-top__text" href="#">en</a></li>
            <li class="lang-list__item top-nav_active"><a class="link_black header-top__text" href="#">ua</a></li>
          </ul>
        </div>
      </div>
    </header>


    <header class="sub-header">
      <div class="header-main">
        <div class="header-main__logo">
          <img src="img/logo.png" width="210" height="53" alt="kredo bank logotype">
        </div>
        <nav class="header-main__nav">
          <ul class="main-nav__items">
            <li class="main-nav__item"><a class="main-nav__link link_blue" href="#">Кредити</a></li>
            <li class="main-nav__item"><a class="main-nav__link link_blue main-nav_active" href="#">Депозити</a></li>
            <li class="main-nav__item"><a class="main-nav__link link_blue" href="#">Рахунки та пакети</a></li>
            <li class="main-nav__item"><a class="main-nav__link link_blue" href="#">Платіжні картки</a></li>
            <li class="main-nav__item"><a class="main-nav__link link_blue" href="#">Страхування</a></li>
            <li class="main-nav__item"><a class="main-nav__link link_blue" href="#">Грошові перекази</a></li>
            <li class="main-nav__item"><a class="main-nav__link link_blue" href="#">Цінні папери</a></li>
          </ul>
        </nav>
      </div>
    </header>
<!-- END headers -->