<section class="info-advantages">
      <div class="info-advantages__content">
        <div class="product-info">
          <p class="product-info__bankname">KredoBank — </p>
          <h1 class="product-info__title">Депозити</h1>
          <p class="product-info__discription">Вклади від Кредобанку це надійні гарантії збереження та примноження заощаджень. Ми впевнені що серед наших пропозицій Ви знайдете саме цей вклад, умови кого задовольнять всі Ваші очікування.</p>
        </div>
        <div class="product-advantages">
          <h3 class="product-advantages__title">Переваги наших депозитiв</h3>
          <ul class="product-advantages__items">
            <li class="product-advantages__item">Вклади у гривнях, доларах США або ЄВРО</li>
            <li class="product-advantages__item">На строк від 1 дня до 20 років</li>
            <li class="product-advantages__item">Отримання коштів у будь-якому банкоматі України - безкоштовно *</li>
          </ul>
        </div>
      </div>
      <div class="product-picture">
        <img class="product-picture__img" src="img/deposits.jpg" width="282" height="282" alt="deposits picture">
      </div>
</section>